<mat-tab-group #tabGroup>
  <mat-tab *ngFor="let tab of metrics" label="{{ tab }}">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #content class="content">
  <button mat-raised-button color="{{ chart.isCurrentlyListening() ? 'warn' : 'primary' }}" (click)="chart.toggleListening()">
    {{ chart.isCurrentlyListening() ? 'Stop' : 'Start' }} listening
  </button>
  <div class="chart-wrapper">
    <frees-chart #chart microserviceId="microservice1" nodeId="node" metricId="metric"></frees-chart>
  </div>
</ng-template>





