  <div class="ms-viewer">

    <h1>Microservice MS{{microserviceId}} {{title}}</h1>
    <p>
      In this section you can connect to a Freestyle metrics server and start listening to it,
      the values will be shown on screen as they are received
    </p>

    <button md-raised-button color="{{ isCurrentlyListening() ? 'warn' : 'primary' }}" (click)="toggleListening()">
      {{ isCurrentlyListening() ? 'Stop' : 'Start' }} listening
    </button>

    <div *ngIf="isCurrentlyListening()">

      <md-grid-list cols="2" rowHeight="fit">
        <md-grid-tile>
          <div>{{ metric?.microservice }}</div>
        </md-grid-tile>
        <md-grid-tile>
          <div>{{ metric?.date | date:'y/MM/dd HH:mm:ss (Z)' }}</div>
        </md-grid-tile>
        <md-grid-tile>
          <h2>{{ metric?.metric }}</h2>
        </md-grid-tile>
        <md-grid-tile>
          <h2>{{ metric?.value | number:'1.15-15' }}</h2>
        </md-grid-tile>
      </md-grid-list>

      <md-progress-bar mode="query"></md-progress-bar>

    </div>

  </div>
