frees-nav-grid {
  display: flex;
  height: 100%;

  .tile-list {
    flex: 1 1 auto;

    .tile .mat-figure {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .tile-link {
    transition: color .3s ease;
  
    &:hover {
      color: rgba(0,0,0,.75);
      cursor: pointer;
    }
  }
}