<section class="app mat-typography">

  <md-toolbar color="primary" class="toolbar mat-elevation-z10">
    <div class="logo-container">
      <button md-button class="toolbar-button" routerLink="/">
        <md-icon>assessment</md-icon>
      </button>
      <span>Freestyle Opscenter</span>
    </div>
    <button md-button class="toolbar-button" (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <div class="fill-space"></div>
    <button md-button class="toolbar-button" routerLink="settings">
      <md-icon>settings</md-icon>
    </button>
    <div class="user mat-body-2">
      <md-icon>person</md-icon>
      <span>Testing user</span>
      <md-icon>keyboard_arrow_down</md-icon>
    </div>
  </md-toolbar>

  <md-sidenav-container class="sidenav-container">

      <md-sidenav #sidenav class="sidenav" mode="side" opened="true">

        <md-nav-list>
          <h3 mat-subheader>{{ navTreeObject?.label }}</h3>
          <frees-nav-tree-node *ngIf="navTreeObject" [data]="navTreeObject" [showLabel]="false"></frees-nav-tree-node>
        </md-nav-list>

      </md-sidenav>

      <section class="sidenav-content">
        <frees-breadcrumb></frees-breadcrumb>
        <router-outlet></router-outlet>
      </section>

  </md-sidenav-container>
</section>
