<section class="app mat-typography">

  <mat-toolbar color="primary" class="toolbar mat-elevation-z10">
    <div class="logo-container">
      <button mat-button class="toolbar-button" routerLink="/">
        <mat-icon>assessment</mat-icon>
      </button>
      <span>Freestyle Opscenter</span>
    </div>
    <button mat-button class="toolbar-button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="fill-space"></div>
    <button mat-button class="toolbar-button" routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </button>
    <div class="user mat-body-2">
      <mat-icon>person</mat-icon>
      <span>Testing user</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

      <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">

        <mat-nav-list>
          <h3 mat-subheader>{{ navTreeObject?.label }}</h3>
          <frees-nav-tree-node *ngIf="navTreeObject" [data]="navTreeObject" [showLabel]="false"></frees-nav-tree-node>
        </mat-nav-list>

      </mat-sidenav>

      <section class="sidenav-content">
        <frees-breadcrumb></frees-breadcrumb>
        <router-outlet></router-outlet>
      </section>

  </mat-sidenav-container>
</section>
