.app {
  height: 100%;
  overflow: hidden;
}

.toolbar {
  padding: 0;

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 320px;
  }

  .toolbar-button {
    height: 100%;
  }

  .fill-space {
    flex: 1 1 auto;
  }

  .user {
    padding: 24px;
    display: flex;
    align-items: center;
    > * + * {
      padding-left: 8px;
    }
  }
}

.sidenav-container {
  height: calc(100% - 64px);

  .sidenav {
    padding: 16px;
    width: 320px;
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }

  .mat-subheader {
    margin: 0;
  }

}
