<ng-container *ngTemplateOutlet="labelTemplate ? labelTemplate : data.link ? leafLabelTemplate : data.subs ? branchLabelTemplate : simpleLabelTemplate; context: {$implicit: this}">
</ng-container>

<ng-container *ngIf="data.subs">
  <ul [ngClass]="{'hide': !isExpanded}">
    <li *ngFor="let item of data.subs">
      <frees-nav-tree-node [data]="item" [isExpanded]="false"></frees-nav-tree-node>
    </li>
  </ul>
</ng-container>


<ng-template #branchLabelTemplate let-implicit>
  <div class="label" #label *ngIf="implicit.showLabel" (click)="implicit.toggle()">
    <div class="ripple" mat-ripple [matRippleTrigger]="label"></div>
    <span class="label-text">{{ implicit.data.label }}</span>
    <button mat-icon-button>
      <mat-icon class="label-icon">keyboard_arrow_down</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #leafLabelTemplate let-implicit>
  <div class="label" #label *ngIf="implicit.showLabel"
      routerLink="/ms/{{ implicit.data.link | number:'2.0-0' }}"
      routerLinkActive="active">
    <div class="ripple" mat-ripple [matRippleTrigger]="label"></div>
    <span class="label-text">{{ implicit.data.label }}</span>
    <button mat-icon-button>
      <mat-icon class="label-icon">grain</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #simpleLabelTemplate let-implicit>
  <div class="label deactivated" *ngIf="implicit.showLabel">
    <div class="ripple" mat-ripple [matRippleTrigger]="label"></div>
    <span class="label-text">{{ implicit.data.label }}</span>
  </div>
</ng-template>