ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  &:first-child{
    padding-right: 16px;
  }
}

li {
  font-size: 16px;
  padding: 0 0 0 16px;
}

.label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
  outline: none;
  position: relative;

  &:hover {
    background: rgba(0,0,0,.04);
  }

  &.active {
    box-shadow: -4px 0 0 rgba(0,0,0,.4);
  }

  &.deactivated {
    background: none;
    color: gray;
    cursor: default;
  }

  .label-text {
    width: 100%;
  }
}

.ripple {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}


.hide {
  display: none;
}